{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="mt-16" style="min-height: 80vh; padding: 20px; text-align: center;">
    
    <div style="color: #3E190E; font-size: 64px; font-family: Abhaya Libre SemiBold; font-weight: 600; word-wrap: break-word">
        Reservations
    </div>

    <div class="my-6 flex justify-end">
        <form method="GET" action="{% url 'reserve:show_reserve' %}">
            <label for="restaurant-select" style="font-family: Abhaya Libre SemiBold;" class="text-lg font-semibold mb-2">Filter by Restaurant:</label>
            <select id="restaurant-select" class="border border-gray-300 rounded p-1 w-50" name="restaurant" onchange="this.form.submit()">
                <option value="">All Restaurants</option>
                {% for restaurant in restaurants %}
                    <option value="{{ restaurant.nama_resto }}" {% if selected_restaurant == restaurant.nama_resto %}selected{% endif %}>
                        {{ restaurant.nama_resto }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>

    <!-- List of Reservations -->
    <div id="reservation-list">
        {% if not reserve_entries %}
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
            <p class="text-center text-gray-600 mt-4">You do not have any reservation.</p>
        </div>
        {% else %}
        <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
            {% for reserve_entry in reserve_entries %}
                    {% include 'reserve_card.html' with reserve_entry=reserve_entry %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    </div>

    {% include 'footer.html' %}
    {% endblock content %}

    