.form-style form input, form textarea, form select {
  width: 400px;
  padding: 0.5rem;
  background: white;
  border-radius: 0.375rem;
}
.form-style form input:focus, form textarea:focus, form select:focus {
  color: #1f2937;
  outline: none;
}
@keyframes shine {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
.animate-shine {
  background: linear-gradient(120deg, rgba(231, 219, 198, 0), rgba(231, 219, 198, 0) 50%, rgba(231, 219, 198, 0));
  background-size: 200% 100%;
  animation: shine 3s infinite;
}

.half-circle {
  background: #dfd3c5; /* Set background color */
  width: 200%; /* Set width larger than container to allow overflow */
  height: 100%; /* Full height of the container */
  position: absolute;
  left: -150px; /* Position slightly off the left */
  top: 0;  /* Align with the top */
  border-radius: 100% 0 0 100%; /* Creates the curved half-circle effect */
}

input {
  background-color: rgba(9, 4, 70, 0.20); /* Latar belakang transparan */
  border: 1px solid #d1d5db; /* Border abu-abu */
  border-radius: 0.375rem; /* Radius border */
  padding: 0.75rem 1rem; /* Padding dalam input */
  width: 430px; /* Lebar penuh */
  height: 40px;
  color: #1f2937; /* Warna teks */
}

input:focus {
  outline: none; /* Menghilangkan outline default */
}


/* Container menu untuk layout grid */
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Item menu responsif */
.menu-item {
  border: 1px solid #ccc;
  font-family: 'Abhaya Libre SemiBold';
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 9px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 9px;
}

.menu-item h3 {
  font-size: 20px;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  /* Atur agar item menu memenuhi lebar layar */
  .menu-item {
      width: 45%;
  }
}

@media (max-width: 576px) {
  /* Atur tampilan lebih kecil untuk layar ponsel */
  .menu-item {
      width: 100%; /* Satu menu per baris */
  }

  /* Ukuran font lebih kecil */
  .menu-item h3 {
      font-size: 18px;
  }
}

/* Gaya untuk bagian hero (bagian gambar dan teks utama) */
.hero-section {
  background-color: #E7DBC6;
  height: 610px;
  text-align: center;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-section img {
  max-width: 38%;
  height: auto;
  margin-top: -50px;
}

.hero-section .megamendung {
  position: absolute;
  width: 300px;
  height: auto;
}

/* Media query untuk bagian hero */
@media (max-width: 768px) {
  .hero-section img {
      max-width: 50%; /* Gambar lebih besar pada layar kecil */
  }
  .hero-section .megamendung {
    width: 150px; /* Gambar megamendung lebih kecil pada layar kecil */
}
}

@media (max-width: 576px) {
  .hero-section img {
      max-width: 50%; /* Gambar lebih besar lagi pada layar sangat kecil */
  }

  .hero-section .megamendung {
      height: 150px; /* Kurangi tinggi megamendung untuk layar kecil */
  }

  /* Ubah ukuran teks di hero */
  .hero-section p {
      font-size: 20px;
  }
}

/* Style untuk tombol scroll */
.scroll-button {
  background-color: #784B39;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
}

.scroll-button:hover {
  background-color: #3E190E;
}

/* Style untuk bagian footer */
.footer-section {
  background-color: #3E190E;
  color: white;
  text-align: center;
  padding: 15px;
}


