<div class="relative" style="width: 300px; margin: 20px; flex: 0 1 300px;">
    <div class="bg-[#F5E6D3] shadow-md rounded-lg overflow-hidden">
        <div class="p-4">
            <div class="flex justify-between items-center mb-2">
                <h3 class="font-bold text-xl text-[#3E190E]">{{ restaurant.name }}</h3>
            </div>
            <img src="{{ restaurant.image_url }}" alt="{{ restaurant.name }}" class="w-24 h-24 object-cover rounded-md float-left mr-4 mb-2">
            <p class="text-[#3E190E] text-sm"><strong>Rating:</strong> {{ restaurant.rating }}/5</p>
            <p class="text-[#3E190E] text-sm"><strong>Location:</strong> {{ restaurant.location }}</p>
            <p class="text-[#3E190E] text-sm"><strong>Price:</strong> {{ restaurant.price }}</p>
            <p class="text-[#3E190E] text-sm"><strong>Plan:</strong> {{ wishlist_item.date_plan|default:"No plan yet" }}</p>
        </div>
        <div class="bg-white p-3 mt-2">
            <p class="text-[#3E190E] text-sm">{{ wishlist_item.additional_note|default:"No additional notes" }}</p>
        </div>
    </div>
</div>
