{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock meta %}

{% block content %} 
{% include 'navbar.html' %}

<div class="mt-16" style="min-height: 80vh; padding: 20px; text-align: center;">
    <h1 style="color: #3E190E; font-size: 64px; font-family: Abhaya Libre SemiBold; font-weight: 600; word-wrap: break-word">Wishlist</h1>
    
    <div id="wishlist-content">
        {% include 'wishlist_content.html' %}
    </div>
</div>

<script>
function updateWishlistView() {
    fetch('/wishlist/content/')
        .then(response => response.json())
        .then(data => {
            document.getElementById('wishlist-content').innerHTML = data.content;
        })
        .catch(error => console.error('Error updating wishlist view:', error));
}
</script>

{% include 'footer.html' %}
{% endblock content %}