{% extends 'base.html' %}
{% load static %}
{% include 'navbar.html' %}

{% block meta %}
<title>Edit Menu Entry</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<br>
<div style="display: flex; align-items: center; justify-content: center; min-height: 100vh; padding: 20px;">
    <div style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 100%; max-width: 600px;">
        <h1 style="text-align: center; font-size: 35px; font-family: 'Abhaya Libre SemiBold'; color: #3E190E; margin-bottom: 20px; font-weight:bold">Edit Menu Entry</h1>
        <form method="POST" style="display: flex; flex-direction: column; gap: 20px;">
            {% csrf_token %}
            {% for field in form %}
            <div style="display: flex; flex-direction: column;">
                <label for="{{ field.id_for_label }}" style="font-family: 'Abhaya Libre'; margin-bottom: 5px; font-weight: bold; color: #3E190E; font-size:17px">
                    {{ field.label }}
                  </label>
                  <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}"
                  value="{{ field.value }}" placeholder="{{ field.placeholder }}" style="font-family: 'Abhaya Libre'; background-color: #EDEDED; color: #3E190E; border: none; padding: 10px; width: 100%; border-radius: 8px;" required>
                {% if field.help_text %}
                <p style="margin-top: 5px; font-size: 12px; color: gray;">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                <p style="margin-top: 5px; font-size: 12px; color: red;">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" style="background-color: #784B39; color: white; font-family: 'Abhaya Libre SemiBold'; font-weight: bold; padding: 10px 20px; border-radius: 5px; width: 100%;">
                Edit Menu Entry
            </button>
        </form>
    </div>
</div>
{% endblock %}
