{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'reviews/templates/style.css' %}">

{% block content %}
{% include 'navbar.html' %}
<div class="mt-16" style="min-height: 80vh; padding: 20px;">
    <div class="container">
        <h1 class="review-title" style="font-family: 'Abhaya Libre', serif; font-weight: 1000;">REVIEW</h1>
        <form id="addReviewForm" method="POST" action="{% url 'reviews:add_review' restaurant.id %}">
            {% csrf_token %}
            <label for="rating" style="text-align: center;">Rating:</label>
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5">⭐⭐⭐⭐⭐</label>
        
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4">⭐⭐⭐⭐</label>
        
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3">⭐⭐⭐</label>
        
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2">⭐⭐</label>
        
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1">⭐</label>
            </div>
            <br>
            <label for="comment" style="text-align: center;">Write Your Review Here:</label>
            <textarea id="comment" name="comment" rows="4" cols="50" 
    style="display: block; margin: 0 auto; width: 80%; max-width: 600px; padding: 10px; border-radius: 5px; border: 1px solid #ddd; background-color: #d4c8c8; color: white;">
</textarea>
            <button type="submit" class="btn" style="font-family: Abhaya Libre ;">Add Review</button>
        </form>

        <div id="reviewResult"></div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}