{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include 'navbar.html' %}


<div style="background-color: #E7DBC6; height: 610px; text-align: center; color: white; padding: 20px; display: flex; justify-content: center; align-items: center;">
    <img src="{% static 'image/Logo.png' %}" alt="Logo" style="max-width: 38%; height: auto; margin-top: -50px;"/>

    <img src="{% static 'image/megamendung1.png' %}" alt="megamendung kiri" style="max-width: 100%; position: absolute; left: 0; top: 380px; height: 200px;"/>
    <img src="{% static 'image/megamendung2.png' %}" alt="megamendung kiri 2" style="max-width: 100%; position: absolute; left: 120px; top: 130px; height: 200px;"/>

    <img src="{% static 'image/megamendung1.png' %}" alt="megamendung kanan" style="max-width: 100%; position: absolute; right: 120px; top: 130px; height: 200px;"/>
    <img src="{% static 'image/megamendung2.png' %}" alt="megamendung kanan 2" style="max-width: 100%; position: absolute; right: 10px; top: 380px; height: 200px;"/>

    <div style="position: absolute; top: 75%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #3E190E;">
        <p style="font-size: 26px; font-family: 'Abhaya Libre SemiBold'; margin-bottom: 20px;">Ready to Explore Jogja's Culinary Delights?</p>
        <a href="#more" style="background-color: #784B39; color: white; padding: 10px 20px; border-radius: 30px; text-decoration: none;">Scroll for More!</a>
    </div>
</div>

<div style="background-color: #3E190E; color: white; text-align: center; padding: 15px;">
    <p style="font-family: Abhaya Libre SemiBold; font-size: 30px">Mangan Jogja — Where Every Meal is a Journey!</p>
</div><br>

<h2 style="font-size: 35px; font-family:'Abhaya Libre SemiBold'; text-align: center; margin-top: 40px; color: #3E190E">- SUGGESTED MENU -</h2><br>

<div class="menu-container" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 20px; justify-items: center; max-width: 1200px; margin: 0 auto; padding: 0 20px;">
    {% for menu in menus %}
    <div class="menu-card" style="width: 200px; background-color: white; border-radius: 10px; box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1); overflow: hidden; position: relative;">
        <a href="{% url 'main:menu_page_user' menu.id %}">
            <div style="overflow: hidden; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                <img src="{{ menu.image_url }}" alt="{{ menu.nama_menu }}" style="width: 100%; height: 150px; object-fit: cover;">
            </div>
            <div style="padding: 10px; text-align: center;">
                <h3 style="font-size: 18px; font-family: 'Abhaya Libre SemiBold'; color: #3E190E;">{{ menu.nama_menu }}</h3>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<br><div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'main:all_menus' %}" class="scroll-button" 
    onmouseover="this.style.backgroundColor='#d5c3a1'; this.style.color='#000';"
    onmouseout="this.style.backgroundColor='#4b2a20'; this.style.color='white';">View More</a>
</div><br>

{% include 'footer.html' %}
{% endblock content %}



